{% extends 'auth/base_auth.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1 style="display:inline;">{{ _('Sign In') }}</h1> for
    <font size="5" color="#adff2f">{{ _('%(typeName)s', typeName=typeName) }}</font>
    <p></p>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>
    <p>{{ _('New User?') }} <a href="{{ url_for('auth.register') }}">{{ _('Click to Register!') }}</a></p>
    <p>
        {{ _('Forgot Your Password?') }}
        <a href="{{ url_for('auth.reset_password_request') }}">{{ _('Click to Reset It') }}</a>
    </p>
{% endblock %}
