{% extends "app_manage_base.html" %}
{% import "_wtf.html" as _wtf%}

{% block subtitle2 %}
    <a href={{ url_for('main.index_app') }}>
        {{ _('App Manage') }}
    </a>
    /
    {% if not addTitle and  not editTitle %}
    <a style="color: dodgerblue;" href={{ url_for('main.app_manage_database_configure') }}>
        {{  title }}
    </a>
    {% endif %}
    {% if addTitle %}
        <a href={{ url_for('main.app_manage_database_configure') }}>
        {{  title }}
        </a>
        /
        <a style="color: dodgerblue;" href={{ url_for('main.app_manage_database_configure_add') }}>
        {{  addTitle }}
    </a>
    {% endif %}
    {% if editTitle %}
        <a href={{ url_for('main.app_manage_database_configure') }}>
        {{  title }}
        </a>
        /
        <a style="color: dodgerblue;" href={{ url_for('main.app_manage_database_configure_edit', id=0) }}>
        {{  editTitle }}
    </a>
    {% endif %}
{% endblock %}

{% block app_content %}
    {% if form %}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        <span class="icon fa fa-pencil" style="padding: 10px"></span>
                        <span class="title h3">{{ tableName }}</span>
                        <a href={{ url_for('main.app_manage_database_configure') }}>
                            <span style="float: right; padding: 10px; padding-right: 27px" class="icon fa fa-reply fa-fw"></span>
                        </a>
                        <button style="float: right;" class="btn btn-info btn-xs" onclick="submitForm()">
                            <span class="icon fa fa-save fa-fw"></span>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        {{ _wtf.quick_form(form, form_type='horizontal') }}
                    </th>
                </tr>
            </tbody>
        </table>
    <br>
    {% endif %}
    {% if not form %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    <span class="icon fa fa-bars" style="padding: 10px"></span>
                    <span class="title h3">{{  tableName }}</span>
                    <a href={{ url_for('main.app_manage_database_configure') }}>
                        <span style="float: right; padding: 10px; padding-right: 27px;" class="icon fa fa-refresh fa-fw"></span>
                    </a>
                    <a href={{ url_for('main.app_manage_database_configure_delete_select') }}>
                        <span style="float: right; padding: 10px;" class="icon fa fa-trash-o fa-fw"></span>
                    </a>
                    <a href={{ url_for('main.app_manage_database_configure_add') }}>
                        <span style="float: right; padding: 10px;" class="icon fa fa-plus fa-fw"></span>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                {% if isCheck %}
                                <th width="10px">
                                    <input type="checkbox" name="selectCheckbox" title=""
                                           onchange="selectStateChange('checkbox')">
                                </th>
                                {% endif %}
                                {% for t in tHead %}
                                <th>{{ t }}</th>
                                {% endfor %}
                                <th width="30px">Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in data %}
                                <tr>
                                    {% if isCheck %}
                                    <th><input type="checkbox" name="checkbox" title="" value="d.id"></th>
                                    {% endif %}
                                    <th>{{ Tenant.query.filter(Tenant.id==d.tenant_id).first().name }}</th>
                                    <th>
                                        {% if d.type == 'system' %}{{ _('yes') }}
                                        {% else %}{{ _('no') }}
                                        {% endif %}
                                    </th>
                                    <th>{{ d.database }}</th>
                                    <th>{{ d.hostname }}</th>
                                    <th>{{ d.port }}</th>
                                    <th>
                                        {% if isEdit %}
                                        <a href={{ url_for('main.app_manage_database_configure_edit', id=d.id) }}>
                                            <span class="icon fa fa-pencil fa-fw"></span>
                                        </a>
                                        {% endif %}
                                        {% if isDelete %}
                                        <a href={{ url_for('main.app_manage_database_configure_delete', id=d.id) }}>
                                            <span class="icon fa fa-trash-o fa-fw"></span>
                                        </a>
                                        {% endif %}
                                    </th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </th>
            </tr>
        </tbody>
    </table>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        function submitForm(){
            $('#submitButton').click()
        }

        function confirm() {
            var data={
                'name':'execute'
            };
            $.ajax({
                type:'POST',
                url:'{{url_for("main.app_manage_database_configure_delete", id=0)}}',
                data:JSON.stringify(data),  //转变传递的参数为字符串格式
                contentType:'application/json; charset=UTF-8', //指定传递给服务器的是Json格式数据
                dataType:'json',//希望服务器返回json格式的数据
                success:function(data){
                    $('#closeConfirmMessage').click();
{#                    window.location.reload()#}
                    window.location.href = '/app_manage_database_configure'
                }
            });
        }

        function selectStateChange(objName){
            index = {"selectCheckbox": 0};
            var me = document.getElementsByName("selectCheckbox")[index["selectCheckbox"]].checked;
            var objNameList=document.getElementsByName(objName);
            var i = 0;
            if(null!=objNameList){
{#                alert("全选操作");#}
                if (me == true)
                    for(i=0;i<objNameList.length;i++){
                        objNameList[i].checked=true;
                    }
                else {
                    for(i=0;i<objNameList.length;i++){
                        objNameList[i].checked=false;
                    }
                }
            }
        }

        function changeAppListMenu() {
            var app_list_menu = $("#app_list_menu");
            var value = app_list_menu.attr("class");
            if(value.indexOf("open") >= 0) {
                app_list_menu.removeClass("open")
            }
            else {
                app_list_menu.addClass("open")
            }
        }
    </script>
{% endblock %}


