{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block subtitle1 %}
    {{ _('Registe Manage') }}
{% endblock %}

{% block subtitle2 %}
    {{ _('Registe Manage') }}
{% endblock %}

{% block subnavbar %}
    <li id="dashboard">
        <a href={{ url_for('main.index_registe') }}>
            <span class="icon fa fa-tachometer"></span><span class="title">{{  _('Dashboard') }}</span>
        </a>
    </li>
    <li id="app_setting">
        <a href={{ url_for('main.registe_manage_app_setting') }}>
            <span class="icon fa fa-cog fa-fw"></span><span class="title">{{ _('App Setting') }}</span>
        </a>
    </li>
    <li id="app_extension">
        <a href={{ url_for('main.registe_manage_app_extension') }}>
            <span class="icon fa fa-external-link fa-fw"></span><span class="title">{{ _('App Extension') }}</span>
        </a>
    </li>
    <li id="app_manager_setting">
        <a href={{ url_for('main.registe_manage_app_manager_setting') }}>
            <span class="icon fa fa-user fa-fw"></span><span class="title">{{ _('App Manager Setting') }}</span>
        </a>
    </li>
    <li id="app_tenant_setting">
        <a href={{ url_for('main.registe_manage_app_tenant_setting') }}>
            <span class="icon fa fa-users fa-fw"></span><span class="title">{{ _('App Tenant Setting') }}</span>
        </a>
    </li>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        function changeActive(){
            if(window.location.href.indexOf("registe_manage_app_setting") != -1) {
                $("#app_setting").addClass("active");
            }else if(window.location.href.indexOf("registe_manage_app_extension") != -1) {
                $("#app_extension").addClass("active");
            }else if(window.location.href.indexOf("registe_manage_app_manager_setting") != -1) {
                $("#app_manager_setting").addClass("active");
            }else if(window.location.href.indexOf("registe_manage_app_tenant_setting") != -1) {
                $("#app_tenant_setting").addClass("active");
            }else {
                $("#dashboard").addClass("active");
            }
        }
    window.onload=changeActive();
    </script>
{% endblock %}